/* themes */

:root {
  --color-title: #f5da55;
  --color-base: #f1f1f1;
  --color-background: #3b3c38;
  --color-link: #00C9E0;
  --account-icon-color: #b7b8b7;
  --base-align: left;
}

* {
  text-align: left;
}

ul {
  list-style-position: outside;
  text-align: left;
}

h3 {
  text-align: left;
}

p {
  text-align: left;
}

div {
  text-align: left;
}

.slide-internal-box {
  text-align: left;
}

li {
  margin: 0;
  text-align: left;
}

code {
  text-align: left;
}

.main {
  text-align: left;
}

/* .title {} */

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
/* .section-title {} */